.product-child{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #035084;
    height: -webkit-fill-available;
    box-shadow: 0 0 10px;
    border-radius: 0 18px;
    padding: 19px;
    position: relative;
    top: 0;
    transition: .4s;
}
.product-child:hover{
    top: -13px;
}
.product-child h4{
    text-align: center;
    font-size: larger;
    padding: 9px;
}
.product-child img{
    display: flex;
    align-self: center;
    margin: 8px;
}
.product-child h3{
    padding: 11px;
    font-weight: 400;
}
.product-child p{
    padding: 9px;
    color: gray;
    font-size: 14px;
    text-indent: 41px;
}
.product-child ul{
    list-style: none;
    padding: 0px 15px;
    width: fit-content;
    border-radius: 11px;
    background: dd#bf1e2e;
}
.product-child ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    display: block;
}
.services{
    display: flex;
}
.services h1{
    font-size: larger;
    color: #035084;
    text-align: center;
    margin-bottom: 18px;
}
.services p{
    padding: 47px;
    text-align: center;
}
.servicestwo h1{
    color: #035084;
    padding: 13px;
}
.servicestwo > div{
    display: flex;
}
.childservices{
    padding: 14px;
}
.childservices div{
    margin: 13px;
    box-shadow: 0 0 9px #035084;
}
.childservices h5{
    padding: 11px;
}
.childservices p{
    padding: 11px;
    opacity: 0.5;
}